 <nav>
     <label><a href="/">TolisFresh</a> |</label>
     <a href="/login"><button>Login</button></a>
     <a href="/register"><button>Register</button></a>
     <a href="/dashboard"><button>Dashboard</button></a>
     <!-- <a href="/categories"><button>Categories</button></a> -->
     <!-- <a href="/client"><button>Clients</button></a> -->
 </nav>